@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin no-apperance-button {
  appearance: none;
  background: transparent;
  border: none;
}

@mixin float-bottom-constant($offset: 0) {
  @if $offset!=0 {
    @debug "$offset is #{$offset}";
    padding-bottom: calc(constant(safe-area-inset-bottom) + #{$offset});
    padding-bottom: calc(env(safe-area-inset-bottom) + #{$offset});
  } @else {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}